*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #080808;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.nav-logo {
    height: 60px;
    width: 100px;
}
.logo {
    background-image: url("photos/amazon.png");
    background-size: cover;
    height: 60px;
    width: 100%;
}
.border {
    border: 0px solid transparent;
}
.border:hover {
    border:1.5px solid white;
}
/**box2 **/

.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 16px;
}
.add-sec{
 font-size: 1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
}

/** box3 **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color:#f3f3f3 ;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input {
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** box4 **/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/** box5 **/

.nav-cart i{
    font-size: 30px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;

}

/**panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.panel-ops p{
    display: inline;
    margin: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;

}

/** hero-section **/
.hero-section {
    background-image: url("photos/hero_section.png");
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    width: 90%;
    margin-top: 320px;

}

.hero-msg a {
    color: #007185;
}
/** shop-section **/

.shop-section {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    
}

.box {
    border: 2px solid black;
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;  
    border: none; 

.box-img {
    width: 100%;
    height: 327px;
    cursor: pointer;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

}

.box-content {
    margin-left: 5px;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    cursor: pointer;
    align-items: center;
    font-size: 0.85rem;
}

/** shop slider section **/
.slider-section {
    width: 95%;
    margin: auto;
}

.slider-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

}

.slider-header a {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
    margin-right: 690px;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider {
    display: flex;
    gap: 30px;
    overflow: hidden;
    width: 100%;
}

.slider img {
    width: 260px;
    height: auto;
    cursor: pointer;
}
.footer-head {
    color: #ffff;
     text-align: center;
     background-color: #2e3f55;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 13px;
     width: 1521px;
     height: 37px;
     padding-top: 25px;
}
/* .footer-container{
    width: 1521p;
    height: 700px;
    background-color: #232F3E;

    
} */

.footer-panel {
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-panel1 {
    background-color: #232F3E;
    color: #ffff;
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-logo {
     background-image: url("photos/amazon1-img.png");
     background-size: contain;
     height: 31px;
     width: 83px;

}

button{
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    
}

  


